<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
        </nav>
        <div class="container">
            <h1>About Us</h1>
            <p class="about">Follow us on Instagram: <a href="https://www.instagram.com/j__haohaohao/" target="_blank">j__haohaohao</a></p>
            <img src="https://www.instagram.com/p/C96E2dcSQSb/?img_index=1" alt="Instagram Photo 1" style="width: 300px; margin: 10px;">
            <img src="https://www.instagram.com/p/C9Rqa9UM5dK/" alt="Instagram Photo 2" style="width: 300px; margin: 10px;">
            <img src="https://www.instagram.com/p/C0V0JxrRlUk/?img_index=1" alt="Instagram Photo 3" style="width: 300px; margin: 10px;">
        </div>
    </body>
</html>
