<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
        </nav>
        <div class="container">
            <h1>Contact Us</h1>
            <p class="contact">Phone: 016-2737516</p>
            <p class="contact">Email: jun980602@gmail.com</p>
        </div>
    </body>
</html>
